body {
  text-align: center;
  font-family: "Kalam", cursive;
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #434343,
    #000000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #434343,
    #000000
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1 {
  line-height: 1em;
  color: #7d82b8;
  /* cursor: pointer; */
}

h2 {
  line-height: 1em;
  font-size: 1em;
}

a {
  color: black;
}

img {
  width: 24%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.homeGif {
  margin-top: 30px;
  width: 60%;
  height: 800px;
  cursor: pointer;
}

.homeGif:hover {
  opacity: 0.8;
}

.homeGif:active {
  opacity: 0.5;
}

.container {
  position: relative;
  text-align: center;
  color: white;
  cursor: pointer;
}

.container:hover {
  opacity: 0.8;
}

.container:active {
  opacity: 0.5;
}

.text-overlay {
  position: absolute;
  bottom: 12px;
  left: 5px;
  color: white;
  font-size: 2em;
  font-weight: 600;
  background: #a354bbaa;
  z-index: 100;
  user-select: none;
}

@media (max-width: 800px) {
  img {
    width: 48%;
  }
}

.navbarDiv {
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  /* margin-top: 10px; */
  position: fixed;
  top: 0;
}

@media (min-width: 640px) {
  .navbarDiv {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

.navContainer {
  /* Set the width to 100% */
  width: 100%;
  /* Set the display to flex */
  display: flex;
  /* Distribute space between flex items */
  justify-content: space-between;
  /* Center align flex items vertically */
  align-items: center;
  /* Set the maximum width to 80rem (1280px) */
  max-width: 80rem;
  /* Set the left and right margins to auto for centering */
  margin-left: auto;
  margin-right: auto;
}

.navList {
  /* Remove default list styles */
  list-style: none;
  padding: 0;
  margin: 0;
  /* Hide the element */
  display: none;
}

@media (min-width: 640px) {
  .navList {
    /* Set the display to flex */
    display: flex;
    /* Set the flex direction to row */
    flex-direction: row;
    /* Set the gap between flex items */
    gap: 2.5rem;
  }
}

.navButton {
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  color: white;
}

.navButton:hover {
  background: linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
  background-color: #dfdfdf;
}

.navButton:active {
  position: relative;
  top: 1px;
}
