@import url("https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.17/tailwind.min.css");

.bg-primary {
  background-color: #1f2937;
}

.bg-transparent {
  background-color: transparent;
}

.text-secondary {
  color: #9ca3af;
}

.black-gradient {
  background: linear-gradient(
    90deg,
    rgba(31, 41, 55, 1) 0%,
    rgba(17, 24, 39, 1) 100%
  );
}

.paddingX {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.text-16px {
  font-size: 16px;
}

.text-18px {
  font-size: 18px;
}

.w-9 {
  width: 2.25rem;
}

.h-9 {
  height: 2.25rem;
}

.w-28px {
  width: 28px;
}

.h-28px {
  height: 28px;
}

.min-w-140px {
  min-width: 140px;
}
